//text color 
$cta_text: hsl(356, 100%, 66%); 
$headings: hsl(208, 49%, 24%); 
$white_color: hsl(0, 0%, 100%); 
$body_text: hsl(207, 13%, 34%);
$footer_text: hsl(240, 2%, 79%);


//background color 
$cta_hover_bg: hsl(355, 100%, 74%); 
$footer_bg: hsl(240, 10%, 16%); 


//gradient 
$header_gradient1: hsl(13, 100%, 72%);  
$header_gradient2: hsl(353, 100%, 62%); 
$body_gradient1: hsl(237, 17%, 21%);
$body_gradient2: hsl(237, 23%, 32%);
