@use 'mixins';
@use 'variables';
@import 'reset'; 

//header
.main-header{ 
    background: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, variables.$header_gradient1, variables.$header_gradient2);    
    background-position: -150px 53%, center;
    background-size: 180%, 100%;
    background-repeat: no-repeat, no-repeat;
    padding: 3rem 5rem 7rem 5rem;
    color: variables.$white_color;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-radius: 0 0 0 70px;

    .nav {

        .align{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .mobile-logo{
            display: none;
        }

        &-left{
            display: flex;
            align-items: center;
            gap: 3rem;       
        }

        &-list{
            display: flex;
            align-items: center;
            gap: 2.8rem;        
        }

        .btn-toggle{
            display: none; 
            width: 40px;
            height: 30px;
            
            .one, .two, .three{
                background-color: white;
                width: 100%;
                height: 5px;
                margin: 6px auto; 
                transition: all 0.3s;
            }
        }

        .dropdown-toggle > svg{
            transition: all 0.3s;
        }

        &-item {
            position: relative;

            &:hover > .dropdown-menu, &:active > .dropdown-menu{
                display: flex;
            }

            &:hover > .dropdown-toggle {
                opacity: 1;                
            }

            &:hover > .dropdown-toggle > svg{
                transform: rotate(180deg);
            }

            .dropdown-toggle{
                color: variables.$white_color;
                transition: 0.4s;
                display: flex;
                align-items: center;
                gap: 10px;
                opacity: 0.8;
                

                &:hover, &:active{
                    text-decoration: underline;
                    opacity: 1;
                }                
            }

            .dropdown-menu{
                display: flex;
                display: none;
                position: absolute;
                flex-direction: column;
                gap: 0.5rem;                
                top: 32px;
                left: -20px;
                width: 150px;
                max-width: 150px;
                background-color: variables.$white_color;
                padding: 20px 15px;
                border-radius: 10px;
                box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.3);

                .dropdown-item{
                    color: variables.$footer_bg;

                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }

        &-right{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            .btn-login{
                color: variables.$white_color;

                &:hover{
                    opacity: 0.8;
                }
            }   

            .btn-signup{
                @include mixins.defaultBtn(12px, 25px);    
                background-color: variables.$white_color;
                color: variables.$cta_text;
                
                &:hover{
                    background: variables.$cta_hover_bg;
                    color: variables.$white_color;                    
                }
            }
        }
    }

    .call-to-action{
        text-align: center;

        h1{
            font-size: 45px;
        }

        p{
            font-weight: lighter;
            opacity: 0.9;
            margin: 1.7rem 0 2.5rem 0;
        }

        .align-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
            .start{
                @include mixins.defaultBtn(10px, 15px);    
                background-color: variables.$white_color;
                color: variables.$cta_text;
                
                &:hover{
                    background: variables.$cta_hover_bg;
                    color: variables.$white_color;
                }
            }
    
            .learn{
                @include mixins.defaultBtn(10px, 15px);
                background: variables.$cta_hover_bg;
                color: variables.$white_color;
                border: 1px solid white;

                &:hover{
                    background-color: variables.$white_color;
                    color: variables.$cta_text;
                }
            }
        }

    }
}


//main 
.main{
    section {        
        h2, h3{
            color: variables.$headings;
        }

        p{
            color: variables.$body_text;
        }
    }

    //section 1
    .first{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem 0 8rem 0;
        background-image: url('../images/illustration-editor-desktop.svg');
        background-size: 45%;
        background-position: 110% 45%;
        background-repeat: no-repeat;
        z-index: -1;

        .first-img{
            display: none;
        }

        h2{
            text-align: center;
            margin-top: 4.5rem;
            font-size: 28px;
        }

        .content{
            display: flex;
            max-width: 100%;
            padding: 0 0rem 3rem 7rem;
            height: 100%;

            .text{
                flex: 1;
                max-width: 55%;

                h3{
                    margin: 3rem 0 1rem 0;
                }
            }
        }
    }
    
    //section 2 
    .second{
        color: variables.$white_color;
        display: flex;      
        background-image: url('../images/bg-pattern-circles.svg'), linear-gradient(to right, variables.$body_gradient1, variables.$body_gradient2);
        background-size:  80%, 100%;
        background-position:  -90% 80%, center;
        background-repeat:  no-repeat, no-repeat;  
        border-radius: 0 70px 0 70px;
        position: relative;
        margin: 2rem 0 3rem 0;

        .second-img{
            display: block;
            flex: 1;
            max-width: 55%;
            z-index: 8;

            img{
                max-width: 30%;
                height: auto;
                top: -40px;
                left: 10%;
                position: absolute;                
            }
        }

        .text{
            max-width: 45%;
            order: 1;
            flex: 1;
            padding: 5rem 7rem 5rem 0;

            h2{
                margin-top: 1rem;
            }

            h2, p {
                color: variables.$white_color;
            }

            p{
                margin: 3% 0;
                font-weight: lighter;
                opacity: 0.9;
            }
        }
    }
    
    //section 3
    .third{
        display: flex;
        margin: 2rem 0 4rem 0;
        align-items: center;
        padding: 1rem 0;
        
        .third-img-mobile{
            display: none;
        }

        .third-img{
            position: relative;
            max-width: 50%;   
            flex: 1;        
            
            img{
                position: relative;
                width: 100%;
                left: -28%;      
            }
        }

        .text{
            max-width: 50%;
            padding: 0 3rem 0 0;

            h3{
                margin: 2rem 0 1rem 0;
            }
        }
    }
}
 

//footer 
.main-footer{
    background-color: variables.$footer_bg;
    color: variables.$white_color;
    display: flex;    
    padding: 3rem 4rem 4rem 3rem; 
    border-radius: 0 70px 0 0;
    justify-content: space-evenly;
    align-items: flex-start;

    ul{
        li{
            margin-bottom: 0.6rem;
        }

        li a, li h4{
            color: variables.$footer_text;
            transition: 0.4s;
        }

        li h4{
            margin-bottom: 2rem;
        }

        li a:hover{
            color: variables.$white_color;
            text-decoration: underline;
        }
    }
}


//mobile layout
@media (max-width: 768px){
    //header
    .main-header {
        padding: 2rem 1rem 5rem 1rem; 
        background: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(to right, variables.$header_gradient1, variables.$header_gradient2);    
        background-position: 30% 50%, center;
        background-size: 200%, 100%;
        background-repeat: no-repeat, no-repeat;        

        .nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 100%;

            &.active > .align{
                display: flex;
            }

            &.active > .btn-toggle{
                .one{
                    transform: translate(7px, 7px) rotate(45deg);
                }

                .two{
                    opacity: 0;
                }

                .three{
                    transform: translate(7px, -14px) rotate(-45deg);
                }

            }

            .btn-toggle{
                display: block;
            }

            .mobile-logo{
                display: block;
            }
            
            .align{
                display: none;                                
                position: absolute;
                top: 5rem;    
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-radius: 5px;
                background-color: variables.$white_color; 
                padding: 2rem 1rem;
                gap: 2.5rem;
                min-height: 40vh;                
                box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.2);                
                
                .nav-left{
                    width: 100%;

                    .logo{
                        display: none;
                    }

                    .nav-list{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;                        
                        text-align: center;

                        .nav-item {
                            position: relative;                                                width: 100%;    
                            display: block;     
                                                      

                            &:hover, &:active{
                               a{
                                   text-decoration: none;
                                    opacity: 0.8;
                                } 
                            }

                            a{
                                opacity: 1;
                                color: variables.$headings;
                                font-weight: 500;                                
                                width: 100%;
                                display: block;
                                text-align: center;
                            }

                            .dropdown-menu{
                                position: relative;
                                min-width: 100%;
                                left: 0;
                                background-color: rgba(variables.$footer_text, 0.4);
                                color: variables.$body_text;
                                border: none; 
                                box-shadow: none;
                                gap: 0.7rem;
                            
                                a{
                                    transition: all 0.2s;
                                }

                                a:hover{
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                .nav-right{
                    padding-top: 2rem;
                    width: 100%;
                    border-top: 1px solid variables.$footer_text;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 1rem;

                    .btn-login{
                        color: variables.$headings;
                    }

                    .btn-signup{
                        color: white;
                        background: linear-gradient(to right, variables.$header_gradient1, variables.$header_gradient2);
                    }
                }
            }
        }

        .call-to-action{
            h1{
                font-size: 30px;
            }
        }
    }

    
    //main 
    .main {
        .first{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: none;
            gap: 1rem;
            width: 100%;
            padding: 2.5rem 1rem 4rem 1rem;

            .first-img{
                display: block;
                max-width: 100%;
            }

            h2{                
                margin: 2rem 0;
                font-size: 25px;                
            }

            .content{
                max-width: 100%;                
                padding: 0;                
                
                .text{
                    padding: 0;
                    min-width: 100%;
                    flex: 1;
                    text-align: center;
                }
            }

        }

        .second{                   
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            background-size:  minmax(200px, 170%), 100%;
            background-position:  center -100px, center;
            background-repeat:  no-repeat, no-repeat;  
            border-radius: 0 50px 0 70px;
            position: relative;
            margin: 5rem 0 2rem 0;
    
            .second-img{                
                max-width: 100%;
                z-index: 8;       
                flex: 1;                         
                max-height: 160px;
    
                img{                    
                    width: 80%;
                    max-width: 350px;
                    height: auto;
                    top: -70px;
                    left: 10%;                    
                    position: relative;                
                }
            }
    
            .text{
                max-width: 100%;
                order: 1;
                flex: 2;                
                padding: 0 1rem;
                text-align: center;                
                padding: 4rem 1rem;
    
                h2{
                    margin-top: 2rem;
                    font-size: 30px;
                    margin-bottom: 0.5rem;
                }
    
                h2, p {
                    color: variables.$white_color;                    
                }
    
                p{
                    margin: 3% 0;
                    font-weight: lighter;
                }
            }
        }

        .third{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2rem 0 4rem 0;
            align-items: center;            
            padding: 1rem;
            text-align: center;
        
            .third-img-mobile{
                display: block;

                img{
                    width: 100%;
                }
            }
            
            .third-img{
                display: none; 
            }

            .text{
                min-width: 100%;
                padding: 0;

                h3{
                    margin: 2rem 0 1rem 0;
                }
            }
        }
    }


    //footer 
    .main-footer{    
        padding: 4rem 2rem; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 2.5rem;

        ul{
            li h4{
                margin-bottom: 1.5rem;
            }
        }
    }
}